<form class="add-form" (ngSubmit)="addWatchItem()">
  <div>
    <input
      type="text"
      name="name"
      id="name"
      class="form-control"
      placeholder="Add to watch item"
      #nameInput
    />
  </div>
  <button type="submit" class="btn">Add</button>
</form>
