<h4>Watch list</h4>
<div *ngIf="isFetching" class="spinner-border">
  <span class="sr-only">Loading...</span>
</div>
<ng-container *ngIf="!isFetching">
  <app-watch-item
    *ngFor="let item of watchItems"
    [watchItem]="item"
  ></app-watch-item>
</ng-container>
